.bg-login-image {
  background-image: url("../img/undraw_rocket.svg");
  background-size: 50%;
  background-repeat: no-repeat;
}
body {
  color: #2a2b30;
  overflow: auto;
}
#app{
overflow: auto;
height: 100vh;
width: 100vw;
}

h1 {
  color: #2a2b30 !important;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

p {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

button {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.card {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
form.user .form-control-user {
  font-size: 0.9rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

.timeline > li > .timeline-badge {
  color: #fd0a0a;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -20px;
  background-color: white;
  z-index: 8;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
